body {
  margin: 0 auto;
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 88, 80);
  height: 70px;
  padding: 20px;
  color: white;
}

.search, .decoMethod, .selectQty {
  font-size: 2.5rem;
  color: rgb(27, 88, 80);
  border: none;
}

.itemSelect {
  display: grid;
  text-align: center;
  padding: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

.quoteResults {
  display: grid;
  color: rgb(27, 88, 80);
  padding: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 20px;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
}