@media (max-width: 730px) {
  .search {
    font-size: 1.5rem;
  }
  select {
    font-size: 1rem;    
  }
  .mainContent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 731px) {
  .search {
    font-size: 2.5rem;
  }
  select {
    font-size: 2rem;    
  }
  .mainContent {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 1600px) {
  .search {
    font-size: 4rem;
  }
  select {
    font-size: 2.5rem;    
  }
  .mainContent {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 40px;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 88, 80);
  height: 100px;
  padding: 20px;
  color: white;
  border: none;
}

.mainContent {
  display: grid;
  grid-gap: 20px;
  padding: 20px 0 0 0;
  align-items: center;
  justify-items: center;
  background-color: rgb(107, 185, 168);
  grid-auto-flow: dense;
}

select {
  color: rgb(27, 88, 80);
  border: none; 
}

.itemSelect, .decoMethod, .selectQty {
  align-self: center;  
}

.quoteResults {
  display: grid;
  color: white;
  background-color: rgb(27, 88, 80);
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  width: 100%;
  grid-column: 1 / -1;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}