body {
  margin: 0 auto;
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.search {
  font-size: 3rem;
}

.decoMethod {
  font-size: 3rem;
}

.selectQty {
  font-size: 3rem;
}

.itemSelect {
  display: grid;
  padding: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

.quoteResults {
  display: grid;
  padding: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 20px;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
}